* {
  color: #fff;
  border: 0;
}

.text-white {
  color: #fff;
}
.format-parrafo {
    text-align: center ;
    background: #000;               
}

.fond-title-card{
    background: cyan;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.fond-card{
    background: #000;
    
}

.style-card{
    background: cyan;

}