* {
    border: 0;
    margin: 0;
    padding: 0;
    color: #fff;
}

.line-format{
    background: #000;
}

hr{
    margin: 0 auto;
    padding: 1px;
    height: 2px;
    width: 85%;
    align-content: center;
    background-color:#17A3B8;
}

.format-parrafos{
    width: 90%;
    margin: 0 auto;
}

.text-white {
  color: #fff;
}

.format-text-parrafo{
    text-align: justify;
}

.format-icons{
    background:#17A3B8;
}



.format-parrafo {
    margin: 0 0 0 0;
    border: 0;
    padding: 10px;
    text-align: center ;
    background: #000;               
}

.fond-title-card{
    background: #17A3B8;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.fond-card{
    padding: 15px;
    background: #000;
}

.style-card{
    background: #17A3B8;
}

.format-typeform{
    padding: 35px;
    background: #000;
}

.icon-cog {
    color: white;
  }
.footer-bg{
    background: #17A3B8;
}